.newspaper{
    column-count: 3;
    column-gap: 40px;
}
.newspaperRuleStyle{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 10px;
    column-rule-color: aquamarine;
}
.newspaperColumnWidth {
            column-width: 200px;
            column-gap: 40px;
        }

        .newspaperColumnSpan h2,
        .newspaperColumnSpan p {
            column-span: all;
        }

        .newspaperColumnSpan {
            column-count: 3;
            column-gap: 40px;
            column-rule: 1px solid #ccc;
        }