 * {
            margin: 0;
        }

        .img {
            height: 100px;
            width: 100px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            max-width: 98%;
            margin: 20px;
        }

        .card {
            width: 33%;
            flex: 1;
            padding: 50px;
            border-radius: 16px;
            border: 1px solid gray;
            text-align: center;
            align-content: center;
        }

        .bottomYellow {
            display: flex;
            flex: 2;
            border-radius: 25px;
            align-content: space-around;
            background-color: #ffdd45;
        }

        .yelloCard {
            margin-left: 10px;
            display: flex;
            align-self: center;
            padding: 50px;
            flex-direction: column;
            font-size: 30px;
            width: 98%;
        }

        .img1 {
            margin: 25px;
            margin-right: 60px;
            align-self: center;
        }

        .btn {
            background: black;
            color: white;
            padding: 10px 18px;
            border-radius: 20px;
            font-size: 12px;
            display: inline-block;
            margin-top: 12px;
            width: fit-content;
            text-decoration: none;
        }