

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px
}

form {
  background: white;
 
  max-width: 700px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
   padding: 20px;
  border-radius: 5px;
}

form h2 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #555;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}


button {
  width: fit-content;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navList li {
  float: left;
}

.navList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList li a:hover {
  background-color: #111111;
}