* {
  margin: 0;
}
h1{
    justify-self: center;
}
.mainDiv {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.smallDiv {
  width: 30vh;
  height: 20vh;
  background-color: blue;
}

.biggerDiv {
  width: 50vh;
  height: 30vh;
  background-color: brown;
}

@media (max-width: 600px) {
  .mainDiv {
    flex-direction: column;
  }

  .smallDiv,
  .biggerDiv {
    width: 90%;
  }
}
