* {
    margin: 0;
}

.mainPage {
    display: flex;
    margin: 0 40px;
    gap: 20px;
}

.leftStatContainer {
    width: 50%;
    align-self: center;
    gap: 20px;
}

.StatsInfoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
}

.upperInfoLayer {
     display: contents;
}

.upperInfoLayer>div {
    width: 33%;
    border: 1px solid gray;
    flex: 1 1 calc(20.333% - 14px);
    padding: 20px;
    border-radius: 1rem;
}

.lowerInfoContainer {
    display: contents;
   
}

.lowerInfoContainer>div {
    width: 50%;
    padding: 20px;
    border-radius: 1rem;
    flex: 1 1 calc(33.333% - 14px);
    border: 1px solid gray;
}

.StatsInfoContainer p {

    font-size: 2rem;
}

.StatsInfoContainer h1 {
    font-size: 4rem;
} 

.leftStatContainer h3 {
    font-size: 4rem;
}

.leftStatContainer div {
    font-size: 1.5rem;
}

.leftStatContainer button {
    font-size: 2rem;
    width: fit-content;
    margin-top: 30px;
    padding: 12px 24px;
    border-radius: 2rem;

    background-color: #333;
    color: white;
    font-weight: bold;
    width: fit-content;
}

.yearNumberContainer {
    background-color: rgb(252, 236, 10);
}

.carNumberContainer {
    background-color: rgb(248, 248, 112);
}

.peopleNumberContainer {
    background-color: rgb(255, 255, 188);
}

.payoutContainer {
    background-color: rgb(255, 255, 215);
}

@media (max-width: 750px) {
    .mainPage {
        flex-direction: column;
    }

}

@media (max-width: 750px) {
    .upperInfoLayer {
        flex-direction: column;
    }

    .lowerInfoContainer {
        flex-direction: column;
    }

    .upperInfoLayer>div,
    .lowerInfoContainer>div {
        width: 100%;
    }

    .StatsInfoContainer,
    .leftStatContainer {
        width: 100%;
    }
}