.animationDiv {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes myAnimation {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

@keyframes myAnimation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

@keyframes myAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.animationProperty{

  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: myAnimationWithProperty;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;  
}
@keyframes myAnimationWithProperty {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}