 body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 30px;
        background: #fafafa;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        max-width: 98%;
        margin: auto;
    }

    .card{
        background: white;
        border-radius: 12px;
        padding: 30px;
        text-align: center;
        align-content: center;
        border: 1px solid #e5e5e5;
    }

    .card img{
        height: 150px;
        margin-bottom: 10px;
    }

    h2{
        font-size: 20px;
        margin-bottom: 8px;
    }

    p{
        font-size: 14px;
        color: #555;
    }

    .bigcontainer{
        grid-column: span 2;
        background: #ffdd45;
        border-radius: 12px;
        padding: 40px;
        display: flex;
        align-items: center;
    }

    .bigcontainer-text{
        width: 60%;
    }

    .bigcontainer img{
        width: 35%;
    }

    .btn{
        background: black;
        color: white;
        padding: 10px 18px;
        border-radius: 20px;
        font-size: 12px;
        display:inline-block;
        margin-top: 12px;
    }