* {
    margin: 0;
    box-sizing: border-box;
}

.mainPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.card {
    padding: 20px;
    border: 1px solid black;
    background-color: sandybrown;
    border-radius: 15px;
}

.yearNumberContainer1,
.carNumberContainer1 {
    flex: 0 0 calc(50% - 5px);
}

.peopleNumberContainer2,
.yearNumberContainer2,
.carNumberContainer2 {
    flex: 0 0 calc(33.333% - 7px);
}

.peopleNumberContainer3 {
    flex: 0 0 100%;
}
@media (max-width:550px) {

    .mainPage{
        flex-direction: column;
        width: 90%;
        justify-self: center;
    }
}